@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark light;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
  @apply bg-white text-slate-900 transition-colors duration-300;
}

body.dark {
  @apply bg-dark text-slate-100;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-slate-100 dark:bg-slate-900;
}

::-webkit-scrollbar-thumb {
  @apply bg-slate-400 dark:bg-slate-700;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-slate-500 dark:bg-slate-600;
}

/* Custom Selection Color */
::selection {
  @apply bg-primary/30 text-primary;
}